@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
}

body {
  font-family: 'Outfit', sans-serif;
  color: white;
  font-weight: 300;
}

h1 {
  font-weight:600;
  font-size: 100px;
  padding: 10px;
}

h2{
  font-weight: 600;
  font-size:80px;
  padding: 30px;
  margin-bottom: 30px;
}

h3{
  font-weight: 600;
  font-size:30px;
  padding: 10px;
}

p {
  font-size: 20px;
}

.fixed-top {
  padding-top: 12px;
  margin-right: 75px;
  margin-left: 75px;
  padding:16px;
}

.nav-item {
  font-size: 18px;

  a{
    text-decoration:none;
    color:white;
  }

  a:link{
    text-decoration:none;
    color:white;
  }

  a:visited{
    text-decoration:none;
    color:white;
  }

  a:hover{
    border-bottom: 1px solid;
    background-color: #5d666f;
  }
}

.section {
  margin-top:300px;
  margin-bottom: 300px;
}

mark {
  font-weight: 600;
  color:#CED4DA;
  background: none;
  font-size:20px;
}

.fact {
  text-align: left;
  border: 1px solid;
  padding:10px;
  border-radius: 8px;
  margin-bottom: 60px;
}

.headshot {
  max-width: 60%;
  height:auto;
  border-radius: 10px;
}

.col-card {
  display: flex;
  justify-content: center;
}

.card {
  width: 350px;
  height: 525px;
  background-color: #CED4DA;
  border-radius: 8px;
  display:flex;
  padding: 15px;
  //transition: all .5s ease-in-out;
  
  .desc {
    width: 320px;
    height:150px;
    object-fit:cover;
    border-radius: 4px;
    margin-bottom: 10px;
  }

  .tech {
    color: grey;
    font-size:16px;
    border: 1px solid;
    border-radius: 8px;
  }

  .body{
    width: 320px;
    height: 175px;
    object-fit: cover;
    font-size: 18px;
    padding:10px;
  }

  .row-cardfooter{
    display:flex;
    justify-content: center;

    .icon{
      transition: transform .2s;
    }

    a{
      text-decoration: none;
    }

    a:link{
      text-decoration: none;
    }

    a:visited{
      text-decoration: none;
    }

    .icon:hover{
      transform: scale(1.5);
    }
  }

}

// .card:hover{
//   transform:scale(1.1);
// }

.row-project{
  display: flex;
  justify-content: center;
}

.contact-logo{
  width: 30%;
  height:auto;
  padding:25px;
  border-radius: 8px;
}

.contacticon{
  transition: transform .2s;
}

.contacticon:hover{
  transform: translateY(-20px);
}


.endtext{
  font-size: 15px;
  margin:5px;
}

.endtext-top{
  font-size: 17px;
  margin:5px;
}

.sectioncontact{
  margin-bottom: 200px;
}

.sectionfooter{
  position: absolute;
  left:0;
  right:0;
  border-top: ridge 1px;
  background-color: #5d666f;
  padding:10px;
}

.experience{
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
  padding-top: 15px;
  border-radius: 8px;
  margin-bottom: 35px;
  transition: all .5s ease-in-out;

  p {
    text-align: start;
  }

  .maininfo{
    font-size:24px;
    margin-bottom: 5px;
  }

  
  b {
    font-weight: 600;
    color:#CED4DA;
    font-size:24px;
    padding-left: 15px;
  }
  
  .arrow-down{
    background-color: #495057;
    border:none;
  }

  .date{
    font-size: 20px;
    color: #CED4DA;
    padding-left: 15px;
  }

  .moreinfo{
    padding-top: 0px;
    margin-top: 0px;
    font-size:20px ;
  }

  .tools{
    font-weight: 600;
    padding-top: 0px;
    margin-bottom: 5px;
  }
}

.linebreak {
  background-color: red;
}

