@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap");
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
}

body {
  font-family: "Outfit", sans-serif;
  color: white;
  font-weight: 300;
}

h1 {
  font-weight: 600;
  font-size: 100px;
  padding: 10px;
}

h2 {
  font-weight: 600;
  font-size: 80px;
  padding: 30px;
  margin-bottom: 30px;
}

h3 {
  font-weight: 600;
  font-size: 30px;
  padding: 10px;
}

p {
  font-size: 20px;
}

.nav-item {
  font-size: 18px;
}
.nav-item a {
  text-decoration: none;
  color: white;
}
.nav-item a:link {
  text-decoration: none;
  color: white;
}
.nav-item a:visited {
  text-decoration: none;
  color: white;
}
.nav-item a:hover {
  border-bottom: 1px solid;
  background-color: #5d666f;
}

.section {
  margin-top: 300px;
  margin-bottom: 300px;
}

mark {
  font-weight: 600;
  color: #CED4DA;
  background: none;
  font-size: 20px;
}

.fact {
  text-align: left;
  border: solid;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 60px;
}

.headshot {
  max-width: 60%;
  height: auto;
  border-radius: 10px;
}

.col-card {
  display: flex;
  justify-content: center;
}

.card {
  width: 350px;
  height: 525px;
  background-color: #CED4DA;
  border-radius: 8px;
  display: flex;
  padding: 15px;
}
.card .desc {
  width: 320px;
  height: 150px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 4px;
  margin-bottom: 10px;
}
.card .tech {
  color: grey;
  font-size: 16px;
  border: solid;
  border-radius: 8px;
}
.card .body {
  width: 320px;
  height: 175px;
  -o-object-fit: cover;
     object-fit: cover;
  font-size: 18px;
  padding: 10px;
}
.card .row-cardfooter {
  display: flex;
  justify-content: center;
}
.card .row-cardfooter .icon {
  transition: transform 0.2s;
}
.card .row-cardfooter a {
  text-decoration: none;
}
.card .row-cardfooter a:link {
  text-decoration: none;
}
.card .row-cardfooter a:visited {
  text-decoration: none;
}
.card .row-cardfooter .icon:hover {
  transform: scale(1.5);
}

.row-project {
  display: flex;
  justify-content: center;
}

.contact-logo {
  width: 30%;
  height: auto;
  padding: 25px;
  border-radius: 8px;
}

.contacticon {
  transition: transform 0.2s;
}

.contacticon:hover {
  transform: translateY(-20px);
}

.endtext {
  font-size: 15px;
  margin: 5px;
}

.endtext-top {
  font-size: 17px;
  margin: 5px;
}

.sectioncontact {
  margin-bottom: 200px;
}

.sectionfooter {
  position: absolute;
  left: 0;
  right: 0;
  border-top: ridge 1px;
  background-color: #5d666f;
  padding: 10px;
}

.experience {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
  padding-top: 15px;
  border-radius: 8px;
  margin-bottom: 35px;
}
.experience p {
  text-align: start;
}
.experience .maininfo {
  font-size: 24px;
  margin-bottom: 5px;
}
.experience b {
  font-weight: 600;
  color: #CED4DA;
  font-size: 24px;
  padding-left: 15px;
}
.experience .arrow-down {
  background-color: #495057;
  border: none;
}
.experience .date {
  font-size: 20px;
  color: #CED4DA;
  padding-left: 15px;
}
.experience .moreinfo {
  padding-top: 0px;
  margin-top: 0px;
  font-size: 20px;
}
.experience .tools {
  font-weight: 600;
  padding-top: 0px;
  margin-bottom: 5px;
}

.linebreak {
  background-color: red;
}/*# sourceMappingURL=App.css.map */